.avatarContainer {
    padding: 1%;
    height: 73vh;
    min-width: 60vw;
    width: 98%;
    max-width: 98%;    border-radius: 10px;
    background-color: #ffffff8f;
  }
  .avatarHeader1 {
    height: 4vh;
    width: 100%;
    border-bottom: 1px solid #d7dcec;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 1%;
  }
  .avatarHeader2 {
    height: 3vh;
    width: 100%;
    padding: .5% 0;
    border-bottom: 1px solid #9fa8c7;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .avatarHeader3 {
    height: 4vh;
    width: 100%;
    border-bottom: 1px solid #9fa8c7;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 1%;
  }
  .avatarHeaderLeft {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    font-size: clamp(0.9rem,0.9vw,1vw);
  }

  .detail{
    display: flex;
    gap: 1%;
    align-items: center;
  }
  
  .currentContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #9FA8C7;

    .activeHeader{
        color: #ff9500;
        span{
            border: 1px solid #ff9500;
        }
    }

    .setActiveHeader{
        color: #28a745;
        span{
            border: 1px solid #28a745;
        }

    }

    div{
        color: #9FA8C7;
        font-size: clamp(0.6rem, 0.6vw, 0.8rem);
        min-width: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        span{
            border: 1px solid #9FA8C7;
            border-radius: 12px;
            padding: .4%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  }
  .totalBox {
    display: flex;
    font-size: clamp(0.6rem, 0.6vw, 0.8rem);
    gap: 1%;
    height: 100%;
  }
  .box {
    padding: 1%;
    cursor: pointer;
    color: var(--textColor);
  }
  .active {
    border-bottom: 3px solid #0085db;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #0085db;
  }
  
  .filterList{
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0.5%;
    height: 10vh;
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 3;
  }
  
  .filterData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 3vh;
    cursor: pointer;
    margin-bottom: 1%;
  
    .greenDot{
      -webkit-text-stroke: 3px #28a745;
    }
    .whiteDot{
      -webkit-text-stroke: 3px #abafb3;
    }
    .yellowDot{
      -webkit-text-stroke: 3px #ff9500;
    }
  }
  .filterData:hover{
    background-color: whitesmoke;
  }
  
  .avatarHeaderRight {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
  
    button {
      padding: 1.5%;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      border: 1px solid #0085db;
      background-color: #0085db;
      gap: 3%;
      width: 130px;
      font-size: clamp(0.6rem, 0.6vw, 0.8rem);
      cursor: pointer;
      color: white;
    }
  
    .searchBar{
      position: relative;
  
      input {
        padding: 1.5%;
        outline: none;
        border-radius: 15px;
        border: 1px solid var(--textColor);
        font-size: clamp(0.7rem, 0.7vw, 0.9rem);
        text-indent: 10px;
      }
    
    }
    .searchIconSvg{
      position: absolute;
      top: 4px;
      right: 0;
      background-color: #28A74533;
      padding: 3px;
      border-radius: 12px;
    }
  }
  .loiBodyOuter{
    height: 75%;
    overflow: auto;
  }
  
  .loiBody {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 1%;
  }
  
  .BtnGroup{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    padding: 1%;
    button{
      padding: 0.5% 4%;
      border: 1px solid #0085db;
      border-radius: 20px;
    }
  
    button[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: #ccc;
      cursor: pointer;
    }
    
    
  }
  .nextBtn{
    background-color: #0085db;
    color: white;
  }
  
  .searchBar{
    position: relative;
    /* margin-bottom: 10px; */
  
    input {
      padding: 1.5%;
      outline: none;
      border-radius: 15px;
      border: 1px solid var(--textColor);
      font-size: clamp(0.7rem, 0.7vw, 0.9rem);
      text-indent: 10px;
    }
  
  }
  .searchIconSvg{
    position: absolute;
    top: 3px;
    right: 0;
    background-color: #28A74533;
    padding: 3px;
    border-radius: 12px;
  }
  