.popBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

textArea{
    width: 100%;
}
.red{
    border: solid 2px red !important;
    scale: 1.05;
}

.popupContainer {
    background-color: #FFFFFF;
    width: 35%;
    /* min-height: 25%; */
    /* height: 25%; */
    /* max-height: 40%; */
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    position: relative;
    border: solid 2px #0085DB;
}
/* .popUpContent{
    padding: 25px 10px;
    text-align: left;
} */
.popUpContent1{
    color: #0085DB;
    margin-bottom: 4%;
    text-align: center;
}
.popupHeader{
    padding: 5%;

}
.popupContainer1 {
    background-color: #FFFFFF;
    width: 35%;
    height: 17%;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    border: solid 2px #0085DB;
}

.xBtn{
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(50%, -50%);

    width: 30px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: #0085DB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.content ,.btnBox{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;   
    /* background-color: red;  */
}

.content {
    text-align: left;
    font-size: clamp(0.8rem, 0.875vw, 0.9rem);
    display: flex;
    align-items: center;    
}


.promptcontent{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        text-align: center;
    }
    .prompt{
        height: 100px;
        width: 98%;

        textarea{
            width: 100%;
        }
    }
}

.btnBox{
    height: 25%;
    gap: 20px;
    justify-content: flex-end;
}
.cancelBtn,
.saveBtn {
    width: 20%;
    max-width: 150px;
    max-height: 40px;
    background-color: #0085DB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    border-radius: 32px;
    font-size: clamp(0.7rem, 0.875vw, 0.9rem);
    color: #FFFFFF;
    border: solid 1px #0085DB;
    cursor: pointer;
    padding: 1%;
}

.cancelBtn {
    background: transparent;
    color: #0085DB;
}
