.tableBox{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.courseTable{
    width: 100%;
    border-radius: 12px;
    height: 100%;
    overflow: hidden;

    tr{
        cursor: pointer;
        background-color: #FFFFFF;
    }
}
.tableHead{
    width: 100%;
    height: 50px;
    border-radius: inherit;
    background-color: #0081e4;
    position: sticky;

    th{
        padding: 5px;
        text-align: left;
        height: auto;
    }
    td{
        padding: 5px;
        text-align: left;
        height: auto;
        min-height: 50px;
    }
}
.thead{
    width: 100%;
    position: sticky;
}

.emptybox{
    width: 50px;
    text-align: center;
}
.courseHeadTitle{
}
.courseHeadDescription{
    width: auto;
}
.courseHead4{
}
.courseHead5{}
.selected{
    background-color: #2a9ae11a !important;
}
.courseTitle{
    /* width: fit-content; */
    width: 250px;
    text-align: left;
    word-break: break-all;
    display: flex;
    gap: 2%;
    height: auto;
    min-height: 40px;
    font-size: clamp(0.75vw,0.75rem,0.8vw);
    p{
        color: #777777;
        font-size: clamp(0.6vw,0.6rem,0.65vw);
    }
}
.image{
    width: 20%;
    height: 35px;
    border-radius: 8px;
    img{
        border-radius: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 80%;
}
.courseDescription{
    width: 500px;
    max-width: 900px;
    text-align: left;
    word-break: break-all;
}

/* .courseBody{
    overflow-y: auto;
    flex: 1;
    display: block;
    height: 0;
} */

/* .tableHead{
    display: block;
    flex-shrink: 0;
} */