.uploadCard {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: row;
  background: #ecf3f5;
  height: 7vh;
  /* border: 1px solid; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
  padding: 10px 5px;
  .iconBg {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    .pdfIcon {
      width: 50%;
    }
    .playIcon path{
      fill:var(--brand);
    }
  }

  .titleContainer {
    width: 80%;
    padding-right: 10px;
    color: var(--textColor);
    font-size: clamp(0.6rem, 0.6vw, 1rem);
    .fileName {
      color: black;
    }
  }
}
