.mainContainer {
    width: 100%;
    height: 62vh;
    /* border: 1px solid; */
    .header {
      .title {
        color: black;
        font-size: clamp(0.8rem, 0.8vw, 0.8rem);
      }
      .subTitle {
        color: var(--textColor);
        font-size: clamp(0.7rem, 0.7vw, 0.7rem);
      }
    }
  }
   .mainContainer1 {   /*  For Support doc upload */
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    .header {
      .title {
        color: black;
        font-size: clamp(0.8rem, 0.8vw, 0.8rem);
      }
      .subTitle {
        color: var(--textColor);
        font-size: clamp(0.7rem, 0.7vw, 0.7rem);
      }
    }
  }
  
  .uploadSection {
    margin: 2%;
    padding: 1% .5%;
    height: 86%;
    overflow: auto;
    border-radius: 15px;
    .fileType {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      background-color: white;
      min-width: 15vw;
      max-width: 20vw;
      border-radius: 50px;
      /* border: 1px solid var(--textColor); */
      .fileTypeBtn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 50px;
        padding: 0.6vh 0;
        cursor: pointer;
        /* transition: background-color 0.3s; */
      }
      .active {
        background-color: var(--brand);
        color: white;
  
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
  .uploadSection1 {
    margin: 1%;
    padding: 1% .5%;
    height: 95%;
    overflow: hidden;
    border-radius: 15px;
    .fileType {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      background-color: white;
      min-width: 15vw;
      max-width: 20vw;
      border-radius: 50px;
      /* border: 1px solid var(--textColor); */
      .fileTypeBtn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 50px;
        padding: 0.6vh 0;
        cursor: pointer;
        /* transition: background-color 0.3s; */
      }
      .active {
        background-color: var(--brand);
        color: white;
  
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
  .sections {
    /* margin-top: 2%; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 80%;
  }
  .sections1 {
    /* margin-top: 2%; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 80%;
  }
  
  /* left section */
  
  .leftSection {
    background-color: white;
    padding: 2vh 1.2vw;
    width: 35%;
    border-radius: 15px;
    span {
      padding: 5px 0;
      font-size: smaller;
      font-weight: 500;
    }
  }
  .leftSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2vh 1.2vw;
    width: 90%;
    border-radius: 15px;
    span {
      padding: 5px 0;
      font-size: smaller;
      font-weight: 500;
    }
  }
  
  .inputDiv label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    color: var(--textColor);
  
    span {
      color: red;
    }
  }
  .imgContainer {
    width: 21vw;
    background: #ecf3f5;
    border: 1px dashed #809fb8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 12px;
  }
  .uploadContainer {
    width: 100%;
    background: #ecf3f5;
    border: 1px dashed #809fb8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1vh;
    padding: 1vh 0;
  }
  .uploadContainer1 {
    width: 100%;
    background: #ecf3f5;
    border: 1px dashed #809fb8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-radius: 12px;
    margin-bottom: 1vh;
    /* padding: 1vh 0; */
  }
  h3 {
    font-size: clamp(0.6rem, 0.5vw, 1rem);
    font-weight: 500;
  }
  .fileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8vh;
    position: relative;
    height: 100%;
    width: 100%;
  
    p{
      font-size: clamp(.7rem, 0.7vw, 0.7rem);
      color: grey;
    }
  }
  .iconContainer {
    background-color: #384455;
    padding: 1vh 0.6vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.6;
  }
  .uploadFiles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-bottom: 10px; */
    padding: 10px;
    overflow: auto;
    height: 37vh;
    /* border: 1px solid; */
  }
  
  /* right Section */
  .rightSection {
    background-color: white;
    padding: 2vh 1.2vw;
    width: calc(100% - 35%);
    border-radius: 15px;
    span {
      padding: 5px 0;
      font-size: smaller;
      font-weight: 500;
    }
  }
  
  .footer {
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    justify-content: right;
    gap: 1vw;
    /* top: 3vh; */
    right: 2vw;
    .cancelBtn {
      background-color: transparent;
      border-color: var(--brand);
      color: var(--brand);
      border-radius: 15px;
      padding: 1vh 1.2vw;
    }
    .primaryBtn {
      background-color: var(--brand);
      color: white;
      border-radius: 15px;
      padding: 1vh 1.2vw;
    }
  }
  
  .body{
    /* height: 360px; */
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    height: 34vh;
    /* justify-content: space-around; */
    overflow-y: auto;
  }
  .btnGrp{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-items: center;
  gap: 1%;
  width: 100%;
  button{
    padding: .3% 1%;
    border-radius: 15px;
    outline: none;
    border: 1px solid #0085DB;
  }
  }
  
  
  /*  File Card Dupe */
  
  .uploadCard {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: row;
    background: #ecf3f5;
    height: 7vh;
    /* border: 1px solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    padding: 10px 5px;
    .iconBg {
      display: flex;
      width: 20%;
      justify-content: center;
      align-items: center;
      /* border: 1px solid; */
      .pdfIcon {
        width: 50%;
      }
      .playIcon path{
        fill:var(--brand);
      }
    }
  
    .titleContainer {
      width: 80%;
      padding-right: 10px;
      color: var(--textColor);
      font-size: clamp(0.6rem, 0.6vw, 1rem);
      .fileName {
        color: black;
      }
    }
  }

  .removePart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
  }
  .removePart:hover{
    background-color: #0594f313;
    cursor: pointer;
  }
  .nextPageBtn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1%;  }